@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./styles/themes";

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

$globalOffsetTop: 80px;

pre {
    white-space: pre-wrap;
}

.app-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.app-page{
	margin-top: $globalOffsetTop !important;
}

@media screen and (max-width: 768px) {
  .app-loader {
    background-color: #fff;
  }
}
